/* .container{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
} */

input{
   width: 100%;
}

.items-container{
    /* border: 1px solid ; */
    text-align: left;
}

.shaku-row{
   margin: 10px 5px; 
}

.shaku-btn-del{
    margin-left: 60px;
    min-width: 80px;
}


.shaku-btn-add{
    /* margin-left: 70px; */
    min-width: 80px;
}
